<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Bhara/IdeaProjects/RestAssured"><classes><class name="TestCase.RestAssuredHTTPMethod"><methods><include name="GetUserList"/><include name="postUserList"/><include name="UpdateUserList"/><include name="deleteUserList"/></methods></class><class name="TestCase.TestPostUsingExternalJsonFile"><methods><include name="postUsingJsonExternalFile"/></methods></class><class name="TestCase.TestPostUsingJsonlibrary"><methods><include name="postUsingJsonLibrary"/></methods></class><class name="TestCase.TestPostUsingPojoClass"><methods><include name="GetUserList"/><include name="postUserList"/><include name="UpdateUserList"/><include name="deleteUserList"/></methods></class></classes></test></suite>